<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(formPost)" *ngIf="!isLoading" #formPost="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Enter Title"
        name="title"
        [ngModel]="post?.title"
        #title="ngModel"
        required
      />
      <mat-error *ngIf="title.invalid"><p>Please Enter Title</p></mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        value="name"
        placeholder="Enter Content"
        rows="10"
        name="content"
        [ngModel]="post?.content"
        #content="ngModel"
        required
      ></textarea>
      <mat-error *ngIf="content.invalid"><p>Please Enter Content</p></mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
